<table border="3">
    <thead>
        <th>S.NO</th>
        <th>NAME OF THE TASK</th>
        <th>STATUS</th>
        <th>Created Date</th>
        <th>ACTIONS</th>
        
        
    </thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Install Angular</td>
        <td>Completed</td>
        <td>01/08/2022</td>
        <button type="button">edit</button>
    </tr>
    <tr>
        <td>3</td>
        <td>Install VisualCode</td>
        <td>Completed</td>
        <td>01/08/2022</td>
        <td>Edit</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Install Git</td>
        <td>Pending</td>
        <td>28/07/2022</td>
        <td>Edit</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Install MySql</td>
        <td>Pending</td>
        <td>28/07/2022</td>
        <td>Edit</td>
    </tr>
