<table border="3">
    <thead>
        <th>S.NO</th>
        <th>NAME</th>
        <th>COMPANY</th>
        <th>ID</th>
    </thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Kedhar Reddy</td>
        <td>Valuemomentum</td>
        <td>VAM123</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Roopesh</td>
        <td>Valuemomentum</td>
        <td>VAM123</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Younus</td>
        <td>valuemomentum</td>
        <td>VAM123</td>
    </tr>
</tbody>
</table>
