<h1>Registration Form</h1>
<!--Interpolation {{propertyname}}-->
<h3>Interpolation</h3>
Name: {{name}}
<h3>Structural Directive - *ngIf</h3>
<!--Directives ( Structural Directives -If/for)-->
<div *ngIf="isValidUser">
  Valid User
</div>
<!--For Loop-->
<!--<ul>
  <li>CSE</li>
  <li>IT</li>
  <li>MECH</li>
  <li>CIVIL</li>
</ul>-->
<h3>Structural Directive -*ngIf</h3>
<ul>
  <li *ngFor="let d of departments">{{d}}</li>
</ul>
<table border="1">
  <thead><tr><th>S.NO</th><th>Name</th></tr></thead>
  <tbody>
    <tr *ngFor="let d of departments;let i=index">
      <td>{{i+1}}</td>
      <td>{{d}}</td>
    </tr>
  </tbody>
</table>
<table>
  <select name ="dept" id ="dept">
    <option *ngFor="let d of departments">{{d}}</option>
  </select>
</table>
<button type="Button" (click)="onClick()">submit</button>
